* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

header {
  background-color: #24ca85;

  height: 100px;

  display: flex;
  justify-content: space-around;
}

#logoSodi {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#divLogosodi {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-left: 15px;
}

#logo {
  width: 80px;
  height: 80px;
}

#divUser {
  display: flex;
  justify-content: end;
  align-items: center;

  padding: 10px;
  margin-right: 15px;

  width: 100%;
}

#user {
  background-color: #3c8670;

  width: 70px;
  height: 70px;

  border-radius: 100%;
}

.servicos {
  background-color: aliceblue;
}

#divFormbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 30px;

  background-color: rgb(246, 251, 255);
}

#formulario {
  background-color: #24ca85;

  width: 800px;
  height: 250px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
  padding: 30px;
}

#tFormulario {
  color: rgb(255, 255, 255);

  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#divInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 800px;
  height: 250px;
  gap: 20px;
}

.inputs {
  width: 350px;
  height: 50px;

  border: none;

  display: flex;

  text-align: start;
  font-size: 15px;

  padding-left: 75px;
}

#buttonsDiv {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#buttonNo {
  background-color: #3c8670;
  color: aliceblue;

  width: 380px;
  height: 100px;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

#buttonNo:hover {
  background-color: #31745f;

  cursor: pointer;
}

#buttonS {
  background-color: #3c8670;
  color: aliceblue;

  width: 380px;
  height: 100px;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  display: none;
  justify-content: center;
  align-items: center;

  border: none;
}

#buttonS:hover {
  background-color: #31745f;

  cursor: pointer;
}

#buttonC {
  background-color: #3c8670;
  color: aliceblue;

  width: 380px;
  height: 100px;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  display: none;
  justify-content: center;
  align-items: center;

  border: none;
}

#buttonC:hover {
  background-color: #31745f;

  cursor: pointer;
}

footer {
  background-color: #3c8670;

  height: 150px;
}
