* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

header {
    background-color: #24ca85;

    height: 100px;

    display: flex;
    justify-content: space-around;
}

#logoSodi {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#divLogosodi {
display: flex;
justify-content: center;
align-items: center;

padding: 10px;
margin-left: 15px;
}

#logo {
    width: 80px;
    height: 80px;
}

#divUser {
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 10px;
    margin-right: 60px;

    width: 100%;
}

#user {
    background-color: #3c8670;
    
    width: 70px;
    height: 70px;

    border-radius: 100%;
}

.servicos {
    background-color: aliceblue;
}

#divFormbutton {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px;
}

#formulario {
    background-color: #24ca85;

    width: 650px;
    height: 320px;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 10px;
}

.inputs {
    width: 300px;
    height: 50px;

    border: none;
}

#button {
    background-color: #3c8670;
    color: aliceblue;

    width: 380px;
    height: 100px;
    
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

#button:hover {
    background-color: #31745f;

    cursor: pointer;
}

footer {
    background-color: #3c8670;

    height: 150px;}